/* General */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-image: url('662139e34f94e.jpeg'); /* Cambia 'ruta/correcta/a/tu/imagen' por la ruta correcta */
    background-size: cover;
    background-position: cover;
    background-repeat: no-repeat;
}

header {
    background-color: #ad8319;
    color: #fff;
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-content h1 {
    margin: 0;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
}

nav a:hover {
    text-decoration: underline;
}


main {
    margin-top: 60px; /* Ajusta según la altura de tu header */
    padding: 20px;
}

/* Productos y Administración */
.container-items, .admin-actions {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.item, .admin-item {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 200px;
    text-align: center;
    padding: 10px;
}

.item img, .admin-item img {
    width: 100%;
    height: auto;
}

.info-product h2, .admin-item h2 {
    font-size: 18px;
    margin: 10px 0;
}

.price, .admin-item .price {
    font-size: 16px;
    color: #888;
}

/* Botones */
button {
    background-color:  #ad8319;
    border: none;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color:  #ca950d;
}

/* Administrador */
.admin-actions {
    margin-top: 20px;
}

.admin-actions input[type="text"] {
    width: calc(100% - 160px);
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}


/* Formulario */
form {
    background-color: #fff;
    border: 1px solid #dddddd;
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
}

form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

form input, form select, form button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

form button {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color:  #ca950d;
}

/* Mensajes de error y éxito */
.error-message, .success-message {
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
}

.error-message {
    background-color: #f8d7da;
    color: #721c24;
}

.success-message {
    background-color: #d4edda;
    color: #155724;
}

/* Ajusta la distribución de los elementos en la administración */
.admin-actions {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

#product-list-admin {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}

.admin-item {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 200px;
    text-align: center;
    padding: 10px;
    flex-shrink: 0;
}

/* Opciones del administrador */
#admin-options a {
    background-color:  #ad8319;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-left: 10px;
    text-decoration: none;
}

#admin-options a:hover {
    background-color:  #ca950d;
}
